{% extends 'base.html.twig' %}

{% block title %}Hello ControllerSearchController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Rechercher par nom dans la base de donnée</h1>
    <div id="SearchForm"></div>
</div>



{% endblock %}


